<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297352060294-e7cpfgbj5nhqc9l8fqftu9gilgjqahk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297352060294-e7cpfgbj5nhqc9l8fqftu9gilgjqahk4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297352060294-m3iqe6jo38lkitupoq0nlf8nsnthir7k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDz5dGyWXo23AyNlJCzUYGid6aD7YeOgSY</string>
	<key>GCM_SENDER_ID</key>
	<string>297352060294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onDemandGroceryStore</string>
	<key>PROJECT_ID</key>
	<string>grofast-ondemandgroceryapp</string>
	<key>STORAGE_BUCKET</key>
	<string>grofast-ondemandgroceryapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297352060294:ios:e4e871fab7cdee0887a007</string>
</dict>
</plist>